<div class="profile-sidebar">
  <div class="widget-profile pro-widget-content">
    <div class="profile-info-widget">
      <a href="#" class="booking-doc-img">
        <img src="assets/img/patients/patient.jpg" alt="User Image">
      </a>
      <div class="profile-det-info">
        <h3>{{ items.nom }}</h3>
        <div class="patient-details">
          <h5><i class="fas fa-birthday-cake"></i> {{items.prenom}}</h5>
          <h5 class="mb-0"><i class="fas fa-map-marker-alt"></i> {{ items.universite }}</h5>
        </div>
      </div>
    </div>
  </div>
  <div class="dashboard-widget">
    <nav class="dashboard-menu">
      <ul>
        <li [class.active]="page === 'dashboard'">
          <a (click)="onChange('dashboard')" [routerLink]="'/entreprise/'">
            <i class="fas fa-columns"></i>
            <span>Tableau de bord</span>
          </a>
        </li>
        <li [class.active]="page === 'RechercheStage'">
          <a (click)="onChange('RechercheStage')" [routerLink]="'/entreprise/stage'">
            <i class="fas fa-bookmark"></i>
            <span>Offre de stage</span>
          </a>
        </li>

        <li [class.active]="page === 'profil'">
          <a (click)="onChange('profil')" [routerLink]="'/entreprise/profil'">
            <i class="fas fa-file-invoice-dollar"></i>
            <span>Paramètre du compte</span>
          </a>
        </li>

        <li [class.active]="page === 'mdpreset'">
          <a (click)="onChange('mdpreset')" [routerLink]="''">
            <i class="fas fa-lock"></i>
            <span>Changer mon mot de passe</span>
          </a>
        </li>
        <li>
          <a (click)="logout($event)" [routerLink]="'/'">
            <i class="fas fa-sign-out-alt"></i>
            <span>Se deconnecter</span>
          </a>
        </li>
      </ul>
    </nav>
  </div>
</div>
