<div class="card" *ngFor="let item of items" ng>
  <div class="card-body">
    <div class="doctor-widget">
      <div class="doc-info-left">
        <div class="doctor-img">
          <a href="doctor-profile.html">
            <img src="assets/img/doctors/doctor-thumb-02.jpg" class="img-fluid" alt="User Image">
          </a>
        </div>
        <div class="doc-info-cont">
          <h4 class="doc-name"><a href="doctor-profile.html" >{{item.titre}}</a></h4>
          <p class="doc-speciality">{{ item.description }}</p>

          <div class="clinic-details">
           <p class="doc-location"> Localisation :<i class="fas fa-map-marker-alt"></i>{{item.lieu}}</p>



          </div>
        </div>
      </div>

      <div class="doc-info-right">

        <div class="clinic-booking">
          <a class="view-pro-btn" width="30px" [routerLink]="'/construction'">Voir Plus</a>
        </div>
      </div>
      <div class="doc-info-right">

        <div class="clinic-booking">
          <a class="btn btn-success" (click)="(postuler(item.id))">Postuler</a>
        </div>
      </div>
    </div>
  </div>
</div>
