<div class="card">
  <div class="card-body">
    <div class="row">
      <div class="col-md-12 col-lg-6">

        <form>
          <div class="form-group">
            <label>Ancien Mot de Passe</label>
            <input type="password" class="form-control">
          </div>
          <div class="form-group">
            <label>Nouveau Mot de Passe</label>
            <input type="password" class="form-control">
          </div>
          <div class="form-group">
            <label>Confirmer le Mot de Passe</label>
            <input type="password" class="form-control">
          </div>
          <div class="submit-section">
            <button type="submit" class="btn btn-primary submit-btn" (click)="Enregistrer()">Enregistrer</button>
          </div>
        </form>

      </div>
    </div>
  </div>
</div>
