
<div class="main-wrapper ">
  <div class="header d-none">

    <ul class="nav nav-tabs user-menu">

      <li class="nav-item">
        <a href="#" id="dark-mode-toggle" class="dark-mode-toggle">
          <i class="feather-sun light-mode"></i><i class="feather-moon dark-mode"></i>
        </a>
      </li>

    </ul>

  </div>
  <div class="row">

    <div class="col-md-6 login-bg">
      <div class="login-banner"><img src="./assets/img/connexion.jpg" width="100%" height="740"></div>
    </div>

    <div class="col-md-6 login-wrap-bg text-center mt-5">
      <div class="login-wrapper">
        <div class="loginbox">
          <div class="img-logo">
           <!-- <img src="assets/img/logo.png" class="img-fluid" alt="Logo"> -->
          </div>
          <h3>Connexion</h3>
          <p class="account-subtitle">veuillez vous connecter à votre compte pour continuer</p>
          <form [formGroup]="form">
            <div class="form-group form-focus">
              <input type="email" class="form-control floating" formControlName="email" placeholder="Email">
            </div>
            <br>
            <div class="form-group form-focus">
              <input type="password" class="form-control floating" formControlName="password" placeholder="Mot de passe">
            </div>
            <div class="form-group">
              <div class="row">

                <div class="col-12 text-end">
                  <a class="forgot-link" href="forgot-password.html">Mot de passe oublié ?</a>
                </div>
              </div>
            </div><br>
            <div class="d-grid">
              <button class="btn btn-primary" type="submit" (click)="seConnecter()">Se connecter</button>
            </div>
            <div class="dont-have">Vous n'avez pas de compte? <a class="btn" [routerLink]="'/vue/register'">S'enregistrer</a></div>

          </form>
        </div>
      </div>

    </div>
  </div>
</div>
