<div class="card">
  <div class="card-body">
    <h4 class="card-title">Mes Informations</h4>
    <hr>
    <form [formGroup]="form">
    <div class="row form-row">

      <div class="col-md-6">
        <div class="form-group">
          <label>Nom <span class="text-danger">*</span></label>
          <input type="text" class="form-control"  formControlName="nom">
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <label>Prenoms <span class="text-danger">*</span></label>
          <input type="text" class="form-control"  formControlName="prenom">
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <label>Telephone <span class="text-danger">*</span></label>
          <input type="text" class="form-control" formControlName="tel">
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <label>Université<span class="text-danger">*</span></label>
          <input type="text" class="form-control" formControlName="universite">
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <label>Date naissance</label>
          <input type="text" class="form-control" formControlName="date">
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <label>Niveau d'etude</label>
          <select class="select form-control" formControlName="niveau">
            <option>Select</option>
            <option>BTS</option>
            <option>LICENCE</option>
            <option>MASTER</option>
          </select>
        </div>
      </div>
      <div class="d-grid mt-5">
        <button class="btn btn-primary" type="submit" (click)="valider()">Enregister</button>
      </div>
    </div>
      </form>
  </div>

</div>
