<body class="error-page">

<div class="main-wrapper ">
  <div class="header d-none">

    <ul class="nav nav-tabs user-menu">

      <li class="nav-item">
        <a href="#" id="dark-mode-toggle" class="dark-mode-toggle">
          <i class="feather-sun light-mode"></i><i class="feather-moon dark-mode"></i>
        </a>
      </li>
    </ul>

  </div>

  <div class="error-box">
    <img src="../../../assets/img/505.png" class="img-fluid" alt="505">
    <h2>Oops! Cette page n'existe pas.</h2>


  </div>

</div>



</body>
